#container {
    position: absolute;
    height: 200px;
    border: 5px solid black;
    overflow: hidden;
}

.whitenote {
    height: 100%;
    width: 50px;
    background: white;
    float: left;
    border-right: 1px solid black;
    position: relative;
}

.blacknote {
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    background: #777;
    left: 68%;
}

.rs-overlay.rs-transition.rs-bg-color {
    background-color: transparent;
  }

.slider .rs-border  {
    border-width: 2px;
}
.slider .rs-handle  {
    background: black;
    margin-left: 0 !important;
}
.vol-text{

    text-align: center;
}
.Volume{
    max-width: 100px;
    margin-right: 48px;
    margin: left 48px;
}

 
.effects-container{
    display: flex;
    align-items: center;
}
.adsr-container{
    margin-left: 48px;
}

.slider-container{
    display: list-item;
    list-style-type: none;
}

#canvas {
    position: absolute;
    bottom: 0;
    background-color: #181818;
  }

  #filtersList {
    background-color: #777;
  }